.grafico-comparativo{ 
    width: 900px; 
    height: 500px;
}
.grafico-arequipa{
width: 900px;
 height: 500px;
}
.grafico-sin-lima-callao{
    width: 1000px; 
height: 500px;}

#region1{
    width: 200px;
}

#region2{
    width: 200px;
}


.grafico-usuario{
width: 1000px; 
height: 1000px;}