body {
    background-color: #eef2f3; 
    font-family: 'Arial', sans-serif;
}
.problema{
    background-color:white;
    width:70%;
    margin:0 auto;;
    font-size: 30px; 
    text-align: center; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    color:rgb(0, 0, 0);
}
.contenedor {
    width:70%;
    font-size:60px;
    margin: 0 auto;
    background-color: white; 
    padding: 4px; 
    border-radius: 10px; 
    text-align: center;
    color: #4a148c; 
}
#prueba,#texto,#enunciado{
    width:70%;
    font-size:30px;
    margin: 0 auto;
    background-color: white; 
    padding: 4px; 
    border-radius: 10px; 
    text-align: center; 
}

h2 a {
    display: inline-block; 
    background-color: white;
    color: #4a148c; 
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
}
h2{
    font-size: 50px;
}
p {
    font-size: 18px; 
    line-height: 1.6; 
    margin: 10px 0; 
    
}

.subtitulos {
    width:20%;
    
    background-color: white;
    color: #4a148c;
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 30px; 
    font-weight: bold; 
    text-align: center; 
    margin: 0 auto;
    margin-left: 15%; 
    border: 2px solid #d1c4e9;

}
.texto{
    font-size: 30px;
}


button#boton {
    font-size: 20px; 
    padding: 10px 20px;
    background-color: #4a148c; 
    color: white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
}


button#boton:hover {
    background-color: #311b92; 
}
.numeroIngresado {
    width: 25%; 
    font-size: 18px;
    padding: 10px; 
    border: 2px solid #d1c4e9; 
    border-radius: 10px; 
    outline: none; 
    margin: 10px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.numeroIngresado:focus {
    background-color:white; 
    box-shadow: 0 0 10px rgba(184, 77, 237, 0.5); 
}
#resultado{

    width:20%;
    background-color: #311b92; 
    color: white;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 25px; 
    font-weight: bold; 
    text-align: center; 
    margin: 10px auto;
    margin-left: 39%; 
    border: none;
}
button.boton {
    margin :auto;
    font-size: 20px; 
    padding: 10px 20px;
    background-color: #311b92; 
    color:  white; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
}

button.boton:hover {
    background-color: #311b92; 
}
.botones-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}