body {
    background-color: rgb(243, 88, 88);
    font-family: 'Arial', sans-serif;
}
.problema{
    background-color:white;
    width:70%;
    margin:0 auto;;
    font-size: 30px; 
    text-align: center; 
    margin-bottom: 20px; 
    border-radius: 10px; 
    color:rgb(0, 0, 0);
}
.contenedor {
    width:70%;
    font-size:60px;
    margin: 0 auto;
    background-color: white; 
    padding: 4px; 
    border-radius: 10px; 
    text-align: center; 
}
#prueba,#texto,#enunciado{
    width:70%;
    font-size:30px;
    margin: 0 auto;
    background-color: white; 
    padding: 4px; 
    border-radius: 10px; 
    text-align: center; 
}

h2 a {
    display: inline-block; 
    background-color: white;
    color: rgb(215, 107, 107);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px; 
    font-weight: bold; 
    text-align: center; 
}
p {
    font-size: 18px; 
    line-height: 1.6; 
    margin: 10px 0; 
    
}
#subtitulos {
    width:20%;
    
    background-color: white;
    color: rgb(215, 107, 107);
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 20px;
    font-size: 30px; 
    font-weight: bold; 
    text-align: center; 
    margin: 0 auto;
    margin-left: 15%; 
    border: 2px solid rgb(225, 144, 144);

}